<!DOCTYPE html>
<html>
<head>
	<style>
	#toplink {
		font-weight: bold;
	}
	#entry {
		font-size: 16pt;
	}
	</style>
</head>
<body>
	<h1>Edit Restaurant {{ restaurant.name }}</h1>
    <a href="{{ url_for('listRestaurants') }}" id="toplink">Restaurants</a><br/><br/>

    <form method="POST" enctype="multipart/form-data" action="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">
    Restaurant Name: <input name="name" type="text">
    <input type="submit" value="Update"></form>
    <br/>
</body>
</html>
