<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <div class="jumbotron text-center">
      <h1>Add New Menu Item at {{ restaurant.name }}</h1>
      <p><a href="{{url_for('listMenuItems', restaurant_id=restaurant.id) }}" id="toplink">{{ restaurant.name }} Menu</a></p> 
    </div>

    <form method="POST" enctype="multipart/form-data" action="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}">
    <div class="container">
      <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-2">
          <p id="field">Name</p>
        </div>
        <div class="col-sm-2">
          <input name="name" type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-2">
          <p id="field">Description</p>
        </div>
        <div class="col-sm-2">
          <input name="description" type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-2">
          <p id="field">Course</p>
        </div>
        <div class="col-sm-2">
          <select name="course">
          {% for course in courses %}
            <option value="{{ course }}">{{ course }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-2">
          <p id="field">Price</p>
        </div>
        <div class="col-sm-2">
          <p><input name="price" type="text"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4 text-center">
          <input type="submit" value="Add" ><br/></form>
        </div>
      </div>
    </div>
</body>
</html>